:root {
    --clr: #FFEECC;
    --font: MonoSpace;
}

*{
    color: white;
    cursor: url("../ressources/curseur/curseur.png"), auto;
    font-family: var(--font);
}

body{
    background-color: black;
}

.logo{
    text-align: center;
    justify-content: center;
    background-color: black;
}

#logo{
    width: 7%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.liste .item {
    margin: 2%;
    display: inline-block;
    list-style: none;
    font-size: 1.3rem;
    padding: 0 15px;
    margin: 0 10px;
    position: relative;
}

.home-link,.home-link:visited{
    color: var(--clr);
    text-decoration: none;
}

.under-dev{
    margin-top: 12%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****************/
/*****NAV BAR****/
/****************/

.item:after , .item:before{
    content: '';
    width: 0;
    height: 1.5px;
    background: var(--clr);
    position: absolute;
    transition: all 0.3s;
}

.item:before {
    left: 0px;
    top: -5px;
}

.item:after{
    right: 0px;
    bottom: -5px;
}

.item:hover:after, .item:hover:before {
    width: 100%;
}

/****************/
/******IDEES*****/
/****************/

.idea-link{
    color: white;
    text-decoration: none;
}
.idea-link:hover{
    text-decoration: underline white;
    color: white;
}

.contenu {
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.desc{
    font-size: 1.3em;
}

.title{
    font-size: 150%;
}

/****************/
/***RESPONSIVE***/
/****************/

.burger, #burger-check{
    display: none;
}

@media screen and (max-width: 750px){
    
    .navbar{
        text-align: left;
        justify-content: left;
    }

    .liste{
        margin-left: -30px ;
        display: none;
        transition: 0.4s;
    }

    .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }

    .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .line2{
        transition: transform 0.2s ease-in-out;
    }

    .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .burger{
        display: flex;
        margin-left: 30px;
        margin-top: 20px;
        background-color: black;
        display: block;
        height: 26px;
        width: 30px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #burger-check{
        display: none;
        height: 25px;
        width: 29px;
        margin-right: 40px;
    }

    #burger-check:checked + label + .navbar{
        margin-top: 15px;
        border: 1px var(--clr) solid;
        border-radius: 12.8px;
        margin-bottom: 20px;
    }

    #burger-check:checked + label > .line1{
        transform: rotate(48deg);
    }
    #burger-check:checked + label > .line2{
        transform: scaleY(0);
    }

    #burger-check:checked + label > .line3{
        transform: rotate(-48deg);
    }

    #burger-check:checked + label + .navbar *{
        animation: slide-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        display: block;
    }

    #burger-check:checked + label + .navbar > .liste > .item{
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 1.6rem;
    }

    .item:hover:after, .item:hover:before{
        width: 0;
    }

    @keyframes slide-left {
      0% {
            transform: translateX(755px);
        }
      100% {
            transform: translateX(0px);
            }
        }
}