@import url('https://fonts.google.com/css?family=Space+Mono');

*{
    color: white;
    cursor: url("./ressources/curseur/curseur.png"), auto;
}

body{
    background-color: black;
}

.logo{
    text-align: center;
    justify-content: center;
    background-color: black;
}

#logo{
    width: 6%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.3rem;
    padding: 0 15px;
    margin: 0 10px;
    position: relative;
}

a,a:visited{
    color: #ffeecc;
    text-decoration: none;
}

.under-dev{
    margin-top: 12%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****************/
/***TYPESCRIPT***/
/****************/

.body-typescript {
    margin-top: 5%;
    background-color: #000000;
    display: grid;
    place-items: center;
    font-family: "Kanit", sans-serif;
}

.typescript {
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
}

:root {
    --clr: #FFEECC;
}

.text {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    transition: 0.1s ease;
    transition-delay: 0.35s;
}

.hover-text {
    position: absolute;
    inset: 0;
    width: 0%;
    color: var(--clr);
    overflow: hidden;
    border-right: 6px solid var(--clr);
    transition: 0.5s ease-in-out;
}

.typescript:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--clr));
}

.typescript:hover .text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}