#logo {
    text-align: center;
}

menu {
    text-align: center;
    display: flex;
    font-size: 1.2rem;
}

menu > ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    list-style: none;
}

menu > ul > li {
    margin-left: 25px;
    margin-right: 25px;
}

#carrousel {
    border: solid 1px red;
    height: 75vh;
}

#game-list-link {
    text-align: center;
}

#recent-article-list {
    list-style: none;
    padding: 0px;
}

#recent-article-list li {
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

#categories ul {
    display: flex;
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
}

#categories li {
    margin: 5px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 7%;
}

a.game-unit {
    display: flex;
    margin-bottom: 20px;
    border: solid 1px black;
    border-radius: 7px;
    padding: 5px;
}

a.game-unit img {
    height: 22vh;
    margin-right: 10px;
}

a.game-unit ul {
    display: flex;
    padding: 0px;
    list-style: none;
    flex-wrap: wrap;
}

a.game-unit li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 7%;
}

a.game-unit .game-title {
    font-size: 1.2rem;
}

a.game-unit .game-cat {
    text-decoration: underline;
}

.middle-title {
    text-align: center;
}

a.game-unit {
    text-decoration: none;
    color: inherit;
}

a.article-unit {
    text-decoration: none;
    color: inherit;
    border: solid 1px black;
    border-radius: 7%;
}

#change-lang {
    position: absolute;
}
